<body>
  <div class="container">
    <h1>Stupid Coaching</h1>
    <p class="label">Ask your coach anything:</p>
    <form class="form" action="/answer" method="get">
      <input class="question-form" type="text" name="question" placeholder="Write your answer">
      <input class="btn-blue" type="submit" value="Ask!">
    </form>
  </div>
</body>
